* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
}

.nav__link {
    border-radius: 8px;
    background: #E8EFF2;
    padding: 16px 27px;
    color: #162542;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.header__content {
    display: flex;
    margin-top: 100px;

}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-top: 50px;
}

.header__card-title {
    color: #162542;
    font-family: "Barlow";
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: 56px;
    text-transform: uppercase;
}

.header__card-text {
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 144.444% */
    width: 445px;
}

.header__link {
    border-radius: 8px;
    background: #F16718;
    color: #FFF;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 162.5% */
    text-transform: uppercase;
    padding: 16px 26px;
}
.header__span {
    padding-left: 40px;
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 162.5% */
    text-transform: uppercase;
}